.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  color: red;
  font-weight: bold;
}

input[type="submit"] {
  font-size: 1.3em;
}

select[name="vat_number"] {
  margin-bottom: 30px;
}

#result {
  width: 300px;
  height: 200px;
}